/* FARBEN:

HELLGRAU: #efefef
HELLGRÜN: #6ee295
DUNKELGRÜN: #2e8f5c
DUNKELGRAU: #575757 */

body {
    margin: 0;
    background-color: #efefef;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

* {
    box-sizing: border-box;}


/* === GENERAL STYLING === */

.link {
    color: black;
    text-decoration: none;
}

.link:hover {
    color: #575757;
    text-decoration: none;
}

.btn {
    background-color: #2e8f5c;
    color:  #efefef;
}

.page-header {
    text-align: center;
    background-color: #575757;
    color: #efefef;
    padding:4px;
    
}

/* === CONTAINERS === */

.container-blog {
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 10%;
    width: 80%;
    text-align: left;
    background-color: #6ee295;
    padding: 40px;
}

.container-link {
    margin-left: 10%;
    width: 80%;
    color: black;
    padding: 40px;
}

.jumbotron {
    margin-top: 50px;
    text-align: right;
    color: white;
    background-color: #6ee295;
}


/* === NAVBAR STYLING === */

.navbar {
    background-color: #575757;
    color: #ffffff;
    text-align: left;
  
}

.navbar .navbar-brand {
    color: #efefef;
    text-align: right;
    font-weight: bold;
}

.navbar .navbar-brand:hover {
    color: #696969;
}

.navbar .nav-item .nav-link{
    color: #ffffff;
    margin: 0;
    font-weight: bold;
}

.navbar .nav-item .nav-link:hover {
    color: #696969;
}



/* === FORMS === */

.login-form {
    width: 70%;
    margin: auto;
}



/* === FOOTER === */

.page-footer {
    position: static;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #575757;
    color: #ffffff;
    text-align: center;