{%extends "layout.html" %}


{% block content %}

<div class="jumbotron">
    <h1>Social Media, but like... with Food.</h1>
</div>
    <div class="container-home">
        <div class="row">
            <div class="col-md-6">
                <h3>About Community Kitchen</h3>
                <p>This project was first envisioned to be a small database for a bunch of recipes I had created over the years and hadn't found an adequate way to store, maintain and share.
                As my first real-life project to apply my newly-gained (and very basic) Python-skills, I didn't expect much. Some basic tables in SQL and a small interface to manage recipes. <br>
                But soon I thought to myself "why not go all-in and actually create something worthwile?". <br><br>
                Many of my friends and even my grandma had expressed interest in an easily accessible (web) app that would allow them to save and share recipes. <br><br>
                So there we go, a fully-fledged Web App to manage and share recipes, to inspire and communicate. </p><br>
            </div>
            <div class="col-md-6">
                <h3>Features</h3>
                <p>You can view, comment on and share other's recipes as well as create your own. Need inspiration? You can search the database for different cooking styles, cuisines and ingredients.
                Feel lonely? Join or create a group to exchange ideas and cooking tips! <br><br>
                Now that I hopefully caught your attention, why don't you sign up and see for yourself what the magic is all about?</p>
                <a href="#" class="btn btn-secondary">Browse Recipes</a>
                <br> <br> <br>
            </div>
        </div>
    </div>

    <!-- <div class="col text-center">
        <div class="btn-group btn-group-md btn-group-justified">
            <a href="#" class="btn btn-secondary">Sign Up</a>
            <a href="#" class="btn btn-secondary">Sign In</a>
        </div>
    </div> -->

    <br><br><br>

        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

<br><br><br>
{% endblock content %}
