{%extends "layout.html" %}

{% block content %}

<div class="page-header">
    <h1>Login</h1>
</div>

<div class="container-blog shadow-lg">
    <div class="login-form">
        <form action="" style="width: 100%; margin: auto">
            <label for="email">E-Mail</label>
            <input type="text" name="email" id="email" class="form-control">
            <br>
            <label for="password">Password</label>
            <input type="text" name="password" id="password" class="form-control">
        </form>
    </div>
    <br><br><br>
    <div class="text-center">
        <a href="#" class="btn btn-secondary" style="width: 60%; margin: auto">Login</a>
    </div>
    <br><br>
</div>
<div class="row container-link">
	<div class="col-sm-6" style="text-align: left">
		<a href="#" class="link">Forgot Username or Password?</a>
	</div>
	<div class="col-sm-6" style="text-align: right">
		<a href="{{ url_for('register') }}" class="link">Or create an account.</a>
	</div>
</div>

{% endblock content %}

