{%extends "layout.html" %}

{% block content %}

<div class="page-header">
    <h1>Login</h1>
</div>

<div class="container-blog shadow-lg">
    <div class="login-form">
        <form action="" style="width: 100%; margin: auto">
            <label for="username">Username</label>
            <input type="text" name="username" id="username" class="form-control">
            <br>
            <label for="password">Password</label>
            <input type="text" name="password" id="password" class="form-control">
        </form>
    </div>
    <br><br><br>
    <div class="text-center">
        <a href="#" class="btn btn-secondary" style="width: 60%; margin: auto">Login</a>
    </div>
</div>

<div class="container-link">
    <a href="#" class="link" style="float: left">Forgot Username or Password?</a>
    <a href="http://127.0.0.1:5000/signup" class="link" style="float: right">Or create an Account.</a>
</div>

{% endblock content %}

