{% extends "layout.html" %}

{% block content %}

<div class="page-header">
    <h1>Sign Up</h1>
</div>

<div class="container-blog shadow-lg">
    <div class="row justify-content-center">
        <div class="col-lg-4">
            <form action="" style="width: 100%; margin: auto">
            <label for="firstname">First Name</label>
            <input type="text" name="firstname" id="firstname" class="form-control">
            </form>
        </div>
        <div class="col-lg-4">
            <form action="" style="width: 100%; margin: auto">
            <label for="lastname">Last Name</label>
            <input type="text" name="lastname" id="lastname" class="form-control">
            </form>
        </div>
    </div>
    <br>
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <form action="" style="width: 100%; margin: auto">
            <label for="username">Username</label>
            <input type="text" name="username" id="username" class="form-control">
            </form>
        </div>
    </div>
    <br>
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <form action="" style="width: 100%; margin: auto">
            <label for="password">Password</label>
            <input type="text" name="password" id="password" class="form-control">
            </form>
        </div>
    </div>
    <br>
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <form action="" style="width: 100%; margin: auto">
            <label for="email">E-Mail-Adress</label>
            <input type="text" name="email" id="email" class="form-control">
            </form>
        </div>
    </div>
    <br>
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <div class="form-check">
                <input type="checkbox" class="form-check-input" id="tos">
                <label class="form-check-label" for="tos">I hereby agree to the terms of service.</label>
            </div>
        </div>
    </div>
    <br><br>
    <div class="text-center">
        <a href="#" class="btn btn-secondary" style="width: 60%; margin: auto">Sign Up</a>
    </div>
</div>
{%endblock content %}